{% block content %}
<footer class="text-center text-lg-start bg-light text-muted">
    <br>
     <section class="">
       <div class="container text-center text-md-start mt-5">
         <div class="row mt-3">
           <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
             <h6 class="text-uppercase fw-bold mb-4">
               <i class="fas fa-gem me-3"></i>Ideas verdes
             </h6>
             <p>
                 Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
             </p>
           </div>
           <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
             <h6 class="text-uppercase fw-bold mb-4">
               Redes sociales
             </h6>
             <p>
               <a href="#!" class="text-reset">Instagram</a>
             </p>
             <p>
               <a href="#!" class="text-reset">Twitter</a>
             </p>
             <p>
               <a href="#!" class="text-reset">Facebook</a>
             </p>
             <p>
               <a href="#!" class="text-reset">Whatsapp</a>
             </p>
           </div>
           <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
             <h6 class="text-uppercase fw-bold mb-4">
               Links utiles
             </h6>
             <p>
               <a href="/login_and_reg" class="text-reset">Publica una idea</a>
             </p>
             <p>
               <a href="#!" class="text-reset">Bases técnicas</a>
             </p>
             <p>
               <a href="#!" class="text-reset">Ganadores de versiones pasadas</a>
             </p>
           </div>
           <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
             <h6 class="text-uppercase fw-bold mb-4">
               Contacto
             </h6>
             <p><i class="fas fa-home me-3"></i>Antofagasta, Antonio Toro #1911, Chile</p>
             <p><i class="fas fa-envelope me-3"></i>consultas@ideas-verdes.com</p>
             <p><i class="fas fa-phone me-3"></i>+56 930586060</p>
           </div>
         </div>
       </div>
     </section>
     <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
       © 2021 Copyright:
       <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Ideas-verdes.com</a>
     </div>
</footer>
{% endblock %}